#page_j {
    .wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 40px;
    }

    .number1 {
        font-size: 220%;
        color: #FFF;
        text-align: center;
    }

    .text_a {
        font-size: 100%;
        color: #FFF;
        font-style: italic;
    }

    .text_b {
        font-size: 45%;
        color: #FFF;
        font-style: italic;
    }

    .text_c {
        font-size: 35%;
        color: #FFF;
        font-style: italic;
    } 
}

.ss #page_j .wrap {
    top: 80px!important;
    // -webkit-transform: scale(0.9);
    // -ms-transform: scale(0.9);
    // transform: scale(0.9);
}