#page_f {
    .wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 30px;
        z-index: 2;
    }
}

.ss #page_f .wrap {
    top: 70px!important;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}